# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# PyCharm
.idea/

# PyInstaller
dist/
build/
